## Colorize the ls output ##
#alias ls='ls --color=auto'

## Use a long listing format ##
#alias ll='ls -la'

## Show hidden files ##qq
#alias l.='ls -d .* --color=auto'

alias c='clear'

# Get OS X Software Updates, update Homebrew itself, and upgrade installed Homebrew packages
alias update="sudo softwareupdate -i -a; brew update; brew upgrade"

# Colorize the grep command output for ease of use (good for log files)##
#alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

## get rid of command not found ##
alias cd..='cd ..'

# colordiff package :)
alias diff='colordiff'

## mount command more human readable
alias mount='mount |column -t'

# handy short cuts #
#alias h='history'
alias j='jobs -l'


#reload terminal
alias reload='source ~/.zshrc'

# upgrade homebrew packages
alias upgrade='brew upgrade'

#alias st='open /Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'

# terminal stats
alias stats='zsh_stats'

# To exit terminal
alias e='exit'

# hacker news in terminal
alias hn='clx'

# clear DNS cache
alias clear_dns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'

# The alias that takes me here - to editing these very aliases
alias edit_profile='micro ~/.zshrc'

# Speed-up Terminal load time by clearing system logs
alias speedup="sudo rm -rf /private/var/log/asl/*"

# This alias recursively destroys all .DS_Store files in the folder I am currently in
alias killDS='find . -name *.DS_Store -type f -delete'


# Stop after sending count ECHO_REQUEST packets #
alias ping='ping -c 5'

#show open ports
alias ports='netstat -tulanp'

# become root #
alias root='sudo -i'
alias su='sudo -i'

## Resume wget by default  ##
alias wget='wget -c'

# edit nano settings
alias edit_nano='nano ~/.nanorc'

# I don't need nano for now
alias nano='micro'
# exit commands
alias :q="exit"
alias ext="exit"
alias xt="exit"
alias by="exit"
alias bye="exit"
alias die="exit"
alias quit="exit"

# Confirmation

    alias mv='mv -i'
    alias cp='cp -i'
    alias ln='ln -i'
#    alias rm='rm -I --preserve-root'

# Parenting changing perms on /

    alias chown='chown --preserve-root'
    alias chmod='chmod --preserve-root'
    alias chgrp='chgrp --preserve-root'

# Grabs the disk usage in the current directory

    alias usage='du -ch | grep total'

# Gets the total disk usage on your machine

    alias totalusage='df -hl --total | grep total'
# open firefox

alias firefox='open -a /Applications/Firefox.app'
alias web='open -a /Applications/Firefox.app'

# IP addresses
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias myip='curl ifconfig.me && echo'
# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'


# Lock the screen (when going AFK)
alias rest="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias restart_shell="exec ${SHELL} -l"

# colorize cat by using pygmentize python package
alias pycat='pygmentize -g'
alias cat="ccat $*" #this is much faster than a python script'

# exa instead of ls
alias ls='exa'


#turn on IP6 on MAC
alias ip6_on='sudo networksetup -setv6automatic Wi-Fi'

# turn it off
alias ip6_off='sudo networksetup -setv6off Wi-Fi'

# Internet speed from terminal
alias speedtest='speedtest-cli'

# find apps downloaded from app store
alias find_apps='mdfind kMDItemAppStoreHasReceipt=1'

# generate secure password and copy it to the clipboard
alias generate_password='LC_ALL=C tr -dc "[:alnum:]" < /dev/urandom | head -c 20 | pbcopy'
# edit host
alias edit_host='sudo nano /etc/hosts'
export PATH="/opt/homebrew/opt/python@3.8/bin:$PATH"

# goto github folder directly
alias github='cd /Users/mohamedelashri/Desktop/Github'

# Docker
alias dm='docker-machine'
alias dmls='docker-machine ls'
alias dockerpsall='docker ps -a --format=$FORMAT'
alias dockerpsrecent='docker ps -l --format=$FORMAT'
alias dockerrunml4t='docker run -it -v "$(pwd)":/app cs7646'
alias dockerdeletecontainers='docker rm -vf $(docker ps -a -q)'
alias dockerdeleteimages='docker rmi -f $(docker images -a -q)'
alias dockerrestart='dockerdeletecontainers && dockerdeleteimages && make && make up'

# Jupyter
alias jnotebook='jupyter notebook'


